$defaultBackground: #F2F2F2;
$defaultViolet: #31194f;
$defaultGradient: linear-gradient(0deg, rgb(203, 203, 203), rgb(243 243 243) 48%, rgb(203, 203, 203) 185%);
$defaultWhiteFont: #FCFCFF;
$defaultBlackFont: #444444;
$defaultShadow: 0px 0px 20px 10px #31194f;
$defaultBorderRadius: 10px;
$defaultBlackColor: #121214;
$defaultButtonHover: #876CA8;

