$defaultBackground: #fbfbfb;
$defaultViolet: #876CA8;
$defaultGradient: linear-gradient(0deg, rgb(251, 251, 251), rgb(181, 162, 204) 48%, rgb(251, 251, 251) 100%);
$defaultWhiteFont: #FCFCFF;
$defaultBlackFont: #444444;
$defaultShadow: 0px 0px 20px 10px #121214;
$defaultBorderRadius: 10px;
$defaultBlackColor: #121214;