$defaultBackground: #fbfbfb;
$defaultViolet: #876CA8;
$defaultGradient: linear-gradient(0deg, rgb(251, 251, 251), rgb(181, 162, 204) 48%, rgb(251, 251, 251) 100%);
$defaultWhiteFont: #FCFCFF;
$defaultBlackFont: #444444;